<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Disabled</key>
	<false/>
	<key>Label</key>
	<string>DeployStudio add local users script</string>
	<key>LaunchOnlyOnce</key>
	<true/>
	<key>OnDemand</key>
	<false/>
	<key>Program</key>
	<string>/etc/deploystudio/bin/ds_add_local_users_main.sh</string>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
